##READ IN FROM DATA file_path = r'C:\Users\johnc\Desktop\DA12\Python\DA12capstone_Videogame_Monetization\data\your_file_name.csv' df = pd.read_csv(file_path)

In [1]:
import requests
from bs4 import BeautifulSoup as BS
import pandas as pd
import html5lib
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px

In [2]:
file_path = r'C:\Users\johnc\Desktop\DA12\Python\DA12capstone_Videogame_Monetization\data\highest_grossing_franchises_raw.csv'
highest_grossing_franchises_raw = pd.read_csv(file_path)

In [3]:
highest_grossing_franchises = highest_grossing_franchises_raw

In [7]:
highest_grossing_franchises.columns=['Franchise','Debut_Year','Total_Revenue','Date','drop','Franchise_Breakdown']

In [11]:
highest_grossing_franchises=highest_grossing_franchises.drop(columns='drop')

In [14]:
highest_grossing_franchises=highest_grossing_franchises.drop(columns='Franchise_Breakdown')

In [24]:
highest_grossing_franchises

                 Franchise Debut_Year    Total_Revenue  Date
0                  Pokémon       1996     $150 billion  2023
1                    Mario       1981      $55 billion  2023
2       Call of Duty (COD)       2003      $27 billion  2021
3   Dungeon Fighter Online       2005      $22 billion  2023
4            Final Fantasy       1987  $20.116 billion  2023
..                     ...        ...              ...   ...
93             Farm Heroes       2013       $1 billion  2017
94          The Last of Us       2013       $1 billion  2020
95                 Destiny       2014       $1 billion  2017
96     Heroes of the Storm       2015       $1 billion  2017
97        Garena Free Fire       2017       $1 billion  2019

[98 rows x 4 columns]